:root {
    --main-bg-color: #222222;
    --sec-bg-color: #131313;
    --yellow-color: #FFCB06;
    --text-color: #D4D4D4;

}

/* basic styles */
* {
      font-family: Inter, Arial, Verdana, sans-serif;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
  
  }
  body, header, main, footer {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      width: 100%;
  
  }
  header,footer, main section{
      padding-left: 12.5%;
      padding-right: 12.5%;
  }
  
/* header */
header {
    display: inline-flex;
    flex-flow: row wrap;
    background-color: var(--main-bg-color);
}

.header_top {
    display: inline-flex;
    width: 100%;
    height: 110px;
    margin-top: 1.8%;
    flex-flow: row wrap;
    align-items: center;
}

.logo {
    width:62px;
    height: 62px;
    margin-right: 6.5%;
    background-position: center center;
}

.header_top nav{
    display: flex;
    width: 27%;

}

.header_top nav ul{
    display: flex;
   
    padding-inline-start: 0;
}

.header_top nav li {
    display: flex;
    align-items: flex-start;
    list-style: none;
    margin: 0 15px;   
}


.header_top nav li:first-child{
    margin-left: 0;
}

.header_top nav li:last-child{
    margin-right: 0;
}

.header_top nav li a{
    font-size: 14px;
}

.header__btn {
    text-decoration: none;
    color: var(--text-color);
}

.header__btn:hover {
    transition: opacity 0.2s linear;
    opacity: 1;
}

header .icons{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-left: auto;
}

header .icons a:hover {
    transition: opacity 0.2s linear;
    opacity: 0.8;
}

header .icons img{
    box-sizing: content-box;
    height: 17px;
    width: 17px;
    margin: 10px;
}
.icons .email{
    height: 12px;
    width: 17px;
}

.header_bottom {
    display: flex;
    width: 100%;
    flex-direction: row ;
    justify-content: space-between;
}

.header_left {
    width: 50%;
    margin-left: 11%;
}
.moon {
    height: auto;
    width: 50%;
    margin-bottom: 25%;
}
.h1 {
    width: 244px;
    height: 102px;

    font-family: 'Courier New', serif;
    color: #fff;
    font-weight: bold;
    font-size: 45px;
}

.header_left p {
    font-size: 15px;
    color: var(--text-color);
    width: 40%;
}

.span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 50px;
    background-color: var(--yellow-color);
    border-radius: 25px;
    margin-top: 21%;
}

.header_left a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;

}

.header_left div:hover {
    transition: opacity .2s linear;
    opacity: 0.6;
}

.span span {
    display: flex;
    flex-direction: row;
    margin-left: 15.8%;
    font-size: 16px;
}

.span img {
    width: 19px;
    height: 16px;
    margin-right: 7%;
}

@media screen and (max-width: 375px) {

    header, footer, main section {
        padding: 0;
    }

    .header_bottom {
        flex-direction: column;
    }

    .header_left p {
        width: 100%;
    }

    .moon {
        width: 100%;
        overflow: hidden;
    }

    .moon img {
        width: 150%;
        margin: 4em;
    }
}

/* advantages section*/
section#advantages {
    display: flex;
    background-color: var(--sec-bg-color);
    flex-direction: row;
    color: #fff;
    justify-content: space-around;
    width: 100%; 
}

.advantage_item {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 31.3vh;
    justify-content: center;
    margin: 4% 0;
}

#advantages .icon {
    display: flex;
    height: 68px;
    width: 60px;
}

.advantage_item p {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5em;
    margin-top: 5vh;
}

@media screen and (max-width:375px) {
    section#advantages {
        flex-direction: column;
        align-items: center;
    }

    section#advantages .icon {
        margin-top: 1em;
    }

    .advantage_item {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: auto;
        justify-content: center;
        margin: 4% 0;
        text-align: center;
        align-items: center;
    }
}