:root {
    --main-bg-color: #222222;
    --sec-bg-color: #131313;
    --yellow-color: #FFCB06;
    --text-color: #D4D4D4;

}

/* basic styles */
* {
      font-family: Inter, Arial, Verdana, sans-serif;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
  
  }
  body, header, main, footer {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      width: 100%;
  
  }
  header,footer, main section{
      padding-left: 12.5%;
      padding-right: 12.5%;
  }
  
/* header */
header {
    display: inline-flex;
    flex-flow: row wrap;
    background-color: var(--main-bg-color);
}

.header_top {
    display: inline-flex;
    width: 100%;
    height: 110px;
    margin-top: 1.8%;
    flex-flow: row wrap;
    align-items: center;
}

.logo {
    width:62px;
    height: 62px;
    margin-right: 6.5%;
    background-position: center center;
}

.header_top nav{
    display: flex;
    width: 27%;

}

.header_top nav ul{
    display: flex;
   
    padding-inline-start: 0;
}

.header_top nav li {
    display: flex;
    align-items: flex-start;
    list-style: none;
    margin: 0 15px;   
}


.header_top nav li:first-child{
    margin-left: 0;
}

.header_top nav li:last-child{
    margin-right: 0;
}

.header_top nav li a{
    font-size: 14px;
}

.header__btn {
    text-decoration: none;
    color: var(--text-color);
}

.header__btn:hover {
    transition: opacity 0.2s linear;
    opacity: 1;
}

header .icons{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-left: auto;
}

header .icons a:hover {
    transition: opacity 0.2s linear;
    opacity: 0.8;
}

header .icons img{
    box-sizing: content-box;
    height: 17px;
    width: 17px;
    margin: 10px;
}
.icons .email{
    height: 12px;
    width: 17px;
}

.header_bottom {
    display: flex;
    width: 100%;
    flex-direction: row ;
    justify-content: space-between;
}

.header_left {
    width: 50%;
    margin-left: 11%;
}
.moon {
    height: auto;
    width: 50%;
    margin-bottom: 25%;
}
.h1 {
    width: 244px;
    height: 102px;

    font-family: 'Courier New', serif;
    color: #fff;
    font-weight: bold;
    font-size: 45px;
}

.header_left p {
    font-size: 15px;
    color: var(--text-color);
    width: 40%;
}

.span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 50px;
    background-color: var(--yellow-color);
    border-radius: 25px;
    margin-top: 21%;
}

.header_left a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;

}

.header_left div:hover {
    transition: opacity .2s linear;
    opacity: 0.6;
}

.span span {
    display: flex;
    flex-direction: row;
    margin-left: 15.8%;
    font-size: 16px;
}

.span img {
    width: 19px;
    height: 16px;
    margin-right: 7%;
}

@media screen and (max-width: 768px) {

    header, footer, main section {
        padding: 0;
    }

    .header_bottom {
        flex-direction: column;
    }

    .header_left p {
        width: 100%;
    }

    .moon {
        width: 100%;
        overflow: hidden;
    }

    .moon img {
        width: 100%;
        margin: 4em;
    }
}

/* advantages section*/
section#advantages {
    display: flex;
    background-color: var(--sec-bg-color);
    flex-direction: row;
    color: #fff;
    justify-content: space-around;
    width: 100%; 
}

.advantage_item {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 31.3vh;
    justify-content: center;
    margin: 4% 0;
}

#advantages .icon {
    display: flex;
    height: 68px;
    width: 60px;
}

.advantage_item p {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5em;
    margin-top: 5vh;
}

@media screen and (max-width: 768px) {
    section#advantages {
        flex-direction: column;
        align-items: center;
    }

    section#advantages .icon {
        margin-top: 1em;
    }

    .advantage_item {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: auto;
        justify-content: center;
        margin: 4% 0;
        text-align: center;
        align-items: center;
        padding-bottom: 2em;
    }

    section#content h3 {
        margin: 0 auto !important;
        width: 90%;
    }
}

/* sec section */
section#content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    width: 100%;
    padding-top: 5%;
}

.map {
    background: url(../img/map.png) no-repeat;
    width: 440px;
    height: 346px;
    margin-right: 5%;
    margin: 0 0 3% 3%;
}

.promo {
    display: flex;
    flex-flow: row wrap;
    height: 346px;
    width: 454px;
}

section#content h3 {
    font-family: Courier New;
    font-size: 24px;
    margin: 0;
    margin-bottom: 5%;
}

.promo p {
    line-height: 17px;
    margin-bottom: 0;
}

.take {
    display: flex;
    flex-flow: row wrap;
    height: 10.7%;
    width: 440px;
    margin-right: 5%;
}

.leave {
    display: flex;
    flex-flow: row wrap;
    height: 10.7%;
    width: 440px;
    padding-right: 1.5%;
}
.bold {
    font-weight: bold;
}

.take ul {
    padding: 0;
}

.take ul li {
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin-bottom: 4%;
}

.take ul li::before {
    content: "\2022"; 
    color: #FFCB06; 
    font-weight: bold; 
    display: inline-block; 
    width: 5%;
}


.leave ul {
    padding: 0;
}

.leave ul li {
    list-style: none;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4%;
}

.leave ul li::before {
content: "\2022"; 
color: #FFCB06; 
font-weight: bold; 
display: inline-block; 
width: 5%;
}

.take, .leave {
    margin: 0 0 10% 3%;
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 941px) {
    section#content {
        justify-content: center;
    }
}

@media screen and (max-width: 414px) {
    section#advantages {
        flex-direction: column;
        align-items: center;
    }

    section#content h3 {
        margin: 0 auto !important;
        width: 90%;
    }

    .promo p {
        width: 90%;
        margin: 0 auto;
        font-size: 15px;
    }
}

/* form */

section#form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    background-color: #F0F0F0;
}

.form_left {
    display: flex;
    flex-flow: row wrap;
    width: 45%;
    height: 40%;
    margin-top: 7%;
    padding-left: 2em;
}

.form_left h3 {
    font-family: Courier New;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    margin: 0;
    }

.form_left p {
    line-height: 17px;
    color: #000000;
    margin-top: 15%;
}

.form_right {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin-top: 7%;
}

.form_right form {
    width: 90%;
    margin: 0 auto;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 5vh;
    padding: 0;
    margin-bottom: 8px;
    border: 0;
}

.number {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.number:last-child {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}

.input::placeholder {
    display: flex;
    align-items: center;
    line-height: 17px;
    color: #000000;
    transition: opacity .1s linear;
    padding-left: 2vh;
}

.input:focus::placeholder {
    opacity: 0;
}

.number input {
    width: 48.5%;
    margin-bottom: 5%;
}

.checkbox {
    margin-bottom: 8%;
}

.form_right form label {
    line-height: 17px;
    margin-bottom: 5%;
}

.checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
}

.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 0;
  border-radius: 0;
  margin-right: 0.5em;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.submit {
    width: 25%;
    height: 0.5em;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0;
    border-radius: 20px;
    margin-bottom: 15%;
}

.submit img {
    padding-left: 1em;
}

.submit:hover {
    cursor: pointer;
    transition: opacity 0.2s linear;
    opacity: 0.9;
}

@media screen and (max-width: 1024px) {
    .submit {
        width: 40%;
    }

 }

.btn:hover {
    cursor: pointer;
    transition: opacity 0.2s linear;
    opacity: 0.9;
}

.btn {
    width: 100%;
    height: 3.5em;
    background-color: #222222;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 25px;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}


@media screen and (max-width: 941px) {
    section#form {
        flex-direction: column;
        flex-flow: column;
    }

    .form_left {
        display: flex;
        width: 90%;
        flex-flow: row wrap;
        height: 40%;
        margin-top: 10%;
        margin: 0 auto;
        padding-top: 3em;
    }

    .form_left p {
        color: #000000;
        margin-top: 3%; 
    }

    .form_right {
        width: 100%;
        padding-bottom: 3em;
    }

    .submit {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 3em;
    }
}


/* table ////////// */

section#table {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    background-color: #222222;
}

.content__table {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-bottom: 5em;
}

.content__table h3 {
    width: 16.7%;
    font-family: Courier New;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #FECA30;
    margin: 0;
    margin-top: 10%;
}

.content__table p {
    width: 49.1%;
    line-height: 17px;
    color: #D4D4D4;
    margin: 0;
    margin-top: 10%;

}

.content__table p a {
    color: #FECA30;
    text-decoration: none;
}

.content__table p a:hover {
    transition: opacity 0.2s linear;
    opacity: 0.8;
    text-decoration: underline;
}

@media screen and (max-width: 540px) {
    .content__table {
        flex-direction: column;
    }

    .content__table h3 {
        width: 100%;
        text-align: center;
    }

    .content__table p {
        width: 100%;
        padding-top: 5%;
        margin: 0 1em 0 1em;
    }

 }